# Ignore everything
/*
/tina/tina-lock.json

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!package.json
!.prettierrc.mjs
!.eslintrc.cjs
!postcss.config.cjs
!README.md
!commitlint.config.mjs
!.lintstagedrc
!tailwind.config.mjs
!/tina
