---
import { cn } from '@common';
import BasicLayout from '@layouts/BasicLayout.astro';
import Cards from './_components/Cards.astro';

const classes = {
  container: cn('flex flex-col items-center justify-center gap-20 divide-y divide-gray-800 px-4 md:px-0'),
};
---

<BasicLayout>
  <main>
    <section class="container mx-auto">
      <ul class={classes.container}>
        <Cards />
      </ul>
    </section>
  </main>
</BasicLayout>
