---
import { SITE_TITLE } from '../../consts';
import HeaderLink from './HeaderLink/HeaderLink.astro';
---

<header class="">
  <nav class="container mx-auto flex h-20 items-center justify-between">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/#projects">Projects</HeaderLink>
      <HeaderLink href="/#experience">Experience</HeaderLink>
    </div>
  </nav>
</header>
