---
const today = new Date();
---

<footer class="container mx-auto px-4">
  <p class="flex h-32 items-end justify-center pb-8 text-center">
    &copy; {today.getFullYear()}
     Samuel Llibre Santos All rights reserved.
  </p>
</footer>
