---
const today = new Date();
---

<footer class="content-grid bg-blue-7 full-width">
  <div>
    &copy; {today.getFullYear()} Your name here. All rights reserved.
  </div>
</footer>

<style>
  footer {
    color: hsl(0deg 0% 0%);
    block-size: var(--size-10);
  }
</style>
