---
const today = new Date();
---

<footer class="container mx-auto">
  <p class="flex h-32 items-end justify-center pb-8 text-center">
    &copy; {today.getFullYear()}
    <span class="font-semibold text-blue-500"> &nbsp; Samuel Llibre Santos &nbsp;</span> All rights
    reserved.
  </p>
</footer>
