---
import { cn } from '@common';
import HeaderLink from '@components/Header/HeaderLink/HeaderLink.astro';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const classes = {
  container: cn('grid gap-4', className),
};
---

<nav class={classes.container}>
  <HeaderLink class="nav-link animate-fade-right" href="#top" data-status="active">Home</HeaderLink>
  <HeaderLink class="nav-link animate-fade-right animate-delay-200" href="#projects">
    Projects
  </HeaderLink>
  <HeaderLink class="nav-link animate-fade-right animate-delay-400" href="#experience">
    Experience
  </HeaderLink>
</nav>

<script>
  const navLinks = document.querySelectorAll('.nav-link');
  const projectSection = document.querySelectorAll('.section-area');

  navLinks.forEach((link) => {
    link.addEventListener('click', () => {
      navLinks.forEach((lnk) => lnk.setAttribute('data-status', 'inactive'));
      link.setAttribute('data-status', 'active');
    });
  });

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const activeSection = entry.target.getAttribute('id');

          navLinks.forEach((lnk) => {
            if (lnk.getAttribute('href') === '#' + activeSection) {
              lnk.setAttribute('data-status', 'active');
            } else {
              lnk.setAttribute('data-status', 'inactive');
            }
          });
        }
      });
    },
    { threshold: 0.5 }
  );

  projectSection.forEach((project) => observer.observe(project));
</script>
