/* Set core root defaults */
* {
  scroll-behavior: smooth;
}


body {
  font-family: 'Merriweather Sans', sans-serif;
  min-block-size: 100vh;
}


/* Inherit fonts for inputs and buttons */
input,
:where(button),
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}